@import "src/app/constants";

.head-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;
    height: 7vh;
}

h1 {
    color: $color2;
    margin: 0;
    font-weight: bolder;
}