$color1: #ffefd2;
$color2: #331d01;
$color4: #727466;
$home-accent: #F0E9DC;
$decent-color: rgb(255, 251, 247);
$popup: #615e59b6;
$popup-font: #ffffff;
$font: black;

$mobileResolution: 799px;
$desktopResolution: 800px;