@import "src/app/constants";

.app-container {
    color: $font;
    background-color: $home-accent;
    border: solid 20px white;
    border-right: solid 15px white;
    min-height: calc(100% - 40px);
}