#language-holder {
    display: inline;
}

#language-selector {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#language-selector option {
    background-color: transparent;
    border: none;
    cursor: pointer !important;
}