<!-- burger icon background -->
<!-- <div id="burger-icon-background" routerLink="/home" routerLinkActive="hidden">
    <img src="assets/img/logo-black.png" id="logo"/>
</div> -->

<!-- Navigation -->
<div [@openClose]="{value: this.getAnimationStatus(), params: {max_height: maxHeight}}" id="outer-navigation-container">
    <div id="navigation-container" #navigationContainer>
        <div [ngClass]="applicationStateService.getIsMobileResolution()?'nav-mobile':'nav-desktop'" id="navigation-item-holder">
            <a class="navigation-item" routerLink="/home" routerLinkActive="navigation-active" #firstNavigationItem>{{ 'NAVIGATION.PRESENTATION' | translate }}<hr></a>
            <a class="navigation-item" routerLink="/pregnancy-checks" routerLinkActive="navigation-active">{{ 'PREGNANCY-CHECKS' | translate }}<hr></a>
            <a class="navigation-item" routerLink="/cildbed-care" routerLinkActive="navigation-active">{{ 'CHILDBED-CARE' | translate }}<hr></a>
            <a class="navigation-item" routerLink="/special-offers" routerLinkActive="navigation-active">{{ 'SPECIAL-OFFERS' | translate }}<hr></a>
            <a class="navigation-item" routerLink="/contact" routerLinkActive="navigation-active">{{ 'CONTACT.TITLE' | translate }}<hr></a>
        </div>
        <!-- Language Selector -->
        <app-language-selector [ngStyle]="{'margin-top': this.desiredMarginTopDistance}" class="navigation-item" #languageSelector></app-language-selector>
    </div>
</div>

<!-- burger icon -->
<div *ngIf="applicationStateService.getIsMobileResolution()" id="burger" (click)="this.toggleNavigation()">
    <svg viewBox="0 0 100 100" attr.height="{{this.firstNavigationItemHeight}}px" attr.width="{{this.firstNavigationItemHeight}}px" #burger>
        <rect x="10" y="17.5" width="80" height="2"></rect>
        <rect x="10" y="47.5" width="80" height="2"></rect>
        <rect x="10" y="77.5" width="80" height="2"></rect>
    </svg>
</div>