<div class="navigation-container mat-app-background">
    <a class="navigation-item" routerLink="/home" routerLinkActive="active">Vorstellung</a>
    <a class="navigation-item" routerLink="/home" routerLinkActive="active">Schwangerschaftskontrollen</a>
    <a class="navigation-item" routerLink="/home" routerLinkActive="active">Wochenbettbetreuung</a>
    <a class="navigation-item" routerLink="/home" routerLinkActive="active">Spezielle Angebote</a>
</div>

<a href="localhost:4200" class="burger">
    <svg viewBox="0 0 100 100" width="5vh" height="5.5vh">
        <rect x="10" y="17.5" width="80" height="5"></rect>
        <rect x="10" y="47.5" width="80" height="5"></rect>
        <rect x="10" y="77.5" width="80" height="5"></rect>
    </svg>
</a>