@import "src/app/constants";

.navigation-item {    
    color: $font;
    text-decoration: none;
    padding: 10px;
}

.navigation-item hr {
    transition: 0.3s;
    width: 0px;
    border-bottom: 1px solid #888888;
    border-top: none;
    border-right: none;
    border-left: none;
}

.navigation-item:hover hr{
    width: 30px;
}

.navigation-active hr {
    width: 30px;
}

#burger {
    position: absolute;
    top: 20px;
    height: 5.5vh;
    right: 25px;
    margin-top: 5px;
    cursor: pointer;
}

#burger svg {
    fill: $color2;
}

.nav-desktop {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.nav-mobile {
    display: flex;
    flex-flow: column wrap;
    padding: 5px 0 5px 0;
}

.nav-mobile a {
    text-align: center;
    margin: 5px;
}

.hidden {
    display: none;
}

#burger-icon-background {
    height: 13.2vh;
    background-color: $home-accent;
}

#logo {
    height: calc(13.2vw - 10px);
    margin: 5px;
}

#navigation-item-holder {
    height: max-content;
    display: flex;
    justify-content: center;
}

#navigation-container {    
    background-color: $home-accent;
    min-height: 30px;
    text-align: center;
}

#outer-navigation-container {
    overflow: hidden;
}

@media only screen and (max-width: $mobileResolution) {

    #outer-navigation-container {
        max-height: 0;
    }

    #burger-icon-background {
        height:13.2vw;
    }
}

@media only screen and (min-width: $desktopResolution) {

    app-language-selector {
        float: right !important;
        top: 0;
    }
}