<div id="home-container">
    <app-navigation></app-navigation>
    <div id="welcome-holder">
        <!-- <div id="title">Tatiana Perreten</div> -->
        <img id="title-img" src="assets/img/title-black.png"/>
        <p id="title-subtext">{{ 'HOME.SUBTITLE' | translate }}</p>
        <img id="tatiana-img" src="assets/img/tatiana-circle.png"/>
        <div id="offers-container">
            <div class="offer-item">
                <p class="offer-title">{{ 'PREGNANCY-CHECKS' | translate }}</p>
                <img id="ultrasound" src="assets/img/ultrasound.png"/>
            </div>
            <div class="offer-item">
                <p class="offer-title">{{ 'CHILDBED-CARE' | translate }}</p>

            </div>
            <div class="offer-item">
                <p class="offer-title">{{ 'SPECIAL-OFFERS' | translate }}</p>
            </div>
        </div>
    </div>
</div>
